<!DOCTYPE html>
<html lang="en">
<% include templates/head.ejs %>
<body>
<% include templates/home-navbar.ejs %>

<div class="jumbotron text-center">
    <h1>You are not authorised to see this page</h1>

</div>
<div class="container">
    <p>This page is protected against unauthorised access. Please login before you try to view this page again.</p>
</div>


</body>
<% include templates/foot.ejs %>
</html>
