<!DOCTYPE html>
<html lang="en">
<% include templates/head.ejs %>
<body>
<% include templates/home-navbar.ejs %>

<div class="jumbotron text-center">
    <h1>You found a 404!</h1>
    <h2>Sorry about that!</h2>

</div>
<div class="container">
    <p>Either you tried to access a page that isn't there or I have left a link active that is yet to be implemented. Either way, use the menu bar at the top to select a different part of the site or use your browsers BACK button to get back to where you were.</p>
</div>


</body>
<% include templates/foot.ejs %>
</html>
