<!DOCTYPE html>
<html lang="en">
<% include templates/head.ejs %>
<body>
<% include templates/home-navbar.ejs %>

<div class="jumbotron text-center">
    <h1>Oops, there has been an error!</h1>

</div>
<div class="container text-center">
    <h3><%= error %></h3>
    <h3><%= message %></h3>

</div>


</body>
<% include templates/foot.ejs %>
</html>
